aiogram>=3.7.0
telethon>=1.36.0
tgcrypto>=1.2.5
cryptography>=42.0.0
aiohttp>=3.9.5
PySocks>=1.7.1
opentele>=1.15.1
python-dotenv>=1.0.1

# opentele dependencies
pyqt5>=5.15.10
pyqt5-qt5>=5.15.2
pyqt5-sip>=12.13.0

# optional but recommended
pyaes>=1.6.1
rsa>=4.9
async-timeout>=4.0.3
